
#answer-form {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding: 10px;

}

.answer-form-label {
    display: flex;
}

.answer-form-input {
    margin-bottom: 25px;
}


