/node_modules
/client/node_modules
/server/node_modules

/client/dist
/server/dist
/server/build

.env
.env.local

*.tsbuildinfo
.nodemonignore
.npm
/temp

Thumbs.db
ehthumbs.db

.vscode/
/server/coverage